/* Defaults */
nav,
header {
  display: block;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
}
body {
  line-height: 1
  margin: 0;
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
}

/* Logo - Color */
header {
  position: absolute;
  left: 2.08%;
  right: 77.5%;
  top: 27%;
  bottom: 26.5%;
}

/* CAREER RETURNSHIP */
header {
position: absolute;
left: 13.61%;
right: 0%;
top: 21.51%;
bottom: 20.43%;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 27px;
/* identical to box height */

letter-spacing: 0.02em;
font-feature-settings: 'kern' off;

color: #DA0D46;
}

/* Nav bar */
nav {
  width: 100%;
  margin: 0;
  position: sticky;
}

nav ul li {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}
ul.topnav li a {
  display: flex;
  text-decoration: none;
  min-height: 16px;
  text-align: center;
  padding: 20px;
  text-transform: capitalize;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  align-items: center;

  color: #4C4C4C;
}

ul.topnav li a:hover {
  background-color: #DA0D46;
  color: white;
  text: bolder;
  text-decoration-line: underline;
  border-radius: 5px;
  text-transform: uppercase;

}
ul.topnav li.hamburgerIcon {
  display: none;
  float: right;
}

/* Mobile */
@media screen and (max-width: 680px) {
  ul.topnav li {
    display: none;
  }

  ul.topnav li.hamburgerIcon {
    display: block;
    float: right;
  }

  ul.topnav.responsive li.hamburgerIcon {
    position: absolute;
    top: 0;
    right: 0;
  }

  ul.topnav.responsive {
    position: relative;
  }

  ul.topnav.responsive li {
    display: inline;
    float: none;
  }

  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
